<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>HTML5 Input Types</title>

	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
	<style>
		.tab { white-space: pre; }
	
	</style>
</head>

<body>
<center>
<form action="/youtube/comments" method="POST">
  <fieldset style="width:80%">
    <legend style="text-align: center;">유튜브 댓글 수집</legend>
	댓글 수집을할 유튜버 이름을 입력해주세요 : <input type="search" name="youtubename" placeholder="조블리 or 비됴클래스....."><br><br>
	몇건의 유튜브 영상을 크롤링하시겠습니까? : <input type="number" name="cnt" placeholder="Number...."><br><br>
	각 동영상에서 추출할 댓글은 몇건 입니까? : <input type="number" name="reple_cnt" placeholder="Number ..."><br><br>

<br>
    <input type="submit" value="전송">
    <input type="reset" value="입력 초기화">
  </fieldset>
</center>

<img src="../static/img/loading.gif" alt="loading">
<center>
<!-- - dataTable()은 %로 컬럼을 크기를 조절하기 때문에 고정크기의 div안에 넣어주면 원하는 크기의 table을 만들수 있습니다.  -->
<div style="width:70%; border:1px solid black; padding:3px; text-align: center;" >
	<table id="tablesort">
<!-- *thead와 tbody로 colum과 row를 비교하기 때문에 반드시 추가해 줍니다. (추가해주지 않으면 적용되지 않습니다.) -->
		<thead>
			<tr>
				<th>URL</th>
				<th>name</th>
				<th>comments</th>
				<th>like</th>
			</tr>
			
		</thead>
		<tbody>
			<tr>
				<td><a href="https://www.youtube.com//watch?v=tg7bySG3jRE">링크</a></td>
				<td>크롱크롱</td>
				<td>국토대장정으로 힘들었을텐데 영상 올려줘서 고마워요 :)</td>
				<td>156</td>
			</tr>

			
		</tbody>
	</table>
</div>
</center>

</body>
<script>
    $(function(){
        $("#tablesort").dataTable();
    });
</script>
</html>

